#group2 #backIMG {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  /* background-image: url(./assets/Jesse-Whitney-Retter-Photography-31.jpg); */
  background-image: url(./assets/jesseLandingMissing.png);
  background-color: #f99974;
  animation: jesseLandingMissing 4s linear infinite;
  /* filter:contrast(120%) brightness(200%); */
  background-size: cover;
  background-position: center;
  /* top: -24%; */
}
@keyframes jesseLandingMissing {
  0% {background-color: #f99974}
  20% {background-color: #f99974}
  25% {background-color: #bde8ea}
  45% {background-color: #bde8ea}
  50% {background-color: #fbe457}
  70% {background-color: #fbe457}
  75% {background-color: #aba7e1}
  95% {background-color: #aba7e1}
}