/* 3d debugging, do not remove:*/
/* .parallaxGroup {
  left: 20px;
  transform: translate3d(500px, 0, -800px) rotateY(30deg);
} */
/* fonts, do not remove: */
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Spartan', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* parallax flow */
body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}
.parallax {
  /* perspective: 1px; */
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  overflow-y: auto;
  margin: 0px;
  font-size: 200%;
  -webkit-perspective: 300px;
  perspective: 300px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.parallax::-webkit-scrollbar {
  display: none;
}
.parallaxLayer {
  /* display: flex; test */
  /* justify-content: center; test */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallaxGroup {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* #group1 {
  z-index: 5;
  -webkit-transform: 0.5s;
  transform: 0.5s;
} */
#group2 {
  z-index: 3;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group3 {
  z-index: 4;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group4 {
  z-index: 2;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group5 {
  z-index: 3;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group6 {
  z-index: 2;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group7 {
  z-index: 3;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group1 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}
#group1 {
  z-index: 4;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group1 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group2 #base {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
  /* top: 50%; */
}
#group2 #backIMG {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(./assets/Jesse-Whitney-Retter-Photography-31.jpg);
  /* filter:contrast(120%) brightness(200%); */
  background-size: cover;
  background-position: center;
  /* top: -24%; */
}
#group3 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group3 #svg {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 0;
}
#group3 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}
#group4 #base {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group4 #backIMG {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(./assets/Jesse-Whitney-Retter-Photography-40.jpg);
  background-size: cover;
  background-position: center;
  /* top: 24%; */
}
#group4 #p5 {
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
  z-index: 4;
}
#group5 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group5 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}
#group6 #base {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group6 #backIMG {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(./assets/Jesse-Whitney-Retter-Photography-39\ -\ Copy-jessedidbw.jpg);
  background-size: cover;
  background-position: center;
  /* top: 24%; */
}
#group7 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group7 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}
/* navigation */
/* .navTest {
  bottom: 100px;
} */
.parallaxLayerNav {
  /* display: flex; test */
  /* position: -webkit-sticky;
  position: sticky; */
  position: fixed;
  height: 0;
  /* top: 76vh; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#baseNav {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  /* top: 76vh; */
}
.navTest {
  bottom: 200px;
}
#nav1 {
  color: #f99974;
  animation: colors1 40s linear infinite;
  transform: rotate(-20deg);
  text-shadow: 2px 2px #545454;
}
#nav2 {
  color: #bde8ea;
  animation: colors2 40s linear infinite;
  transform: rotate(-20deg);
  text-shadow: 2px 2px #545454;
}
#nav3 {
  color: #fbe457;
  animation: colors3 40s linear infinite;
  transform: rotate(-20deg);
  text-shadow: 2px 2px #545454;
}
#nav4 {
  color: #aba7e1;
  animation: colors4 40s linear infinite;
  transform: rotate(-20deg);
  text-shadow: 2px 2px #545454;
}
@keyframes colors1 {
  0% {color: #f99974}
  20% {color: #f99974}
  25% {color: #bde8ea}
  45% {color: #bde8ea}
  50% {color: #fbe457}
  70% {color: #fbe457}
  75% {color: #aba7e1}
  95% {color: #aba7e1}
}
@keyframes colors2 {
  0% {color: #bde8ea}
  20% {color: #bde8ea}
  25% {color: #fbe457}
  45% {color: #fbe457}
  50% {color: #aba7e1}
  70% {color: #aba7e1}
  75% {color: #f99974}
  95% {color: #f99974}
}
@keyframes colors3 {
  0% {color: #fbe457}
  20% {color: #fbe457}
  25% {color: #aba7e1}
  45% {color: #aba7e1}
  50% {color: #f99974}
  70% {color: #f99974}
  75% {color: #bde8ea}
  95% {color: #bde8ea}
}
@keyframes colors4 {
  0% {color: #aba7e1}
  20% {color: #aba7e1}
  25% {color: #f99974}
  45% {color: #f99974}
  50% {color: #bde8ea}
  70% {color: #bde8ea}
  75% {color: #fbe457}
  95% {color: #fbe457}
}
/* i work with */
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* find me on */
#findIcon1 {
  fill: #aba7e1;
  animation: fill1 10s linear infinite;
  -webkit-filter: drop-shadow( 2px 2px #545454);
  filter: drop-shadow( 2px 2px #545454);
}
@keyframes fill1 {
  0% {fill: #aba7e1}
  20% {fill: #aba7e1}
  25% {fill: #f99974}
  45% {fill: #f99974}
  50% {fill: #bde8ea}
  70% {fill: #bde8ea}
  75% {fill: #fbe457}
  95% {fill: #fbe457}
}
#findIcon2 {
  fill: #fbe457;
  animation: fill2 10s linear infinite;
  -webkit-filter: drop-shadow( 2px 2px #545454);
  filter: drop-shadow( 2px 2px #545454);
}
@keyframes fill2 {
  0% {fill: #fbe457}
  20% {fill: #fbe457}
  25% {fill: #aba7e1}
  45% {fill: #aba7e1}
  50% {fill: #f99974}
  70% {fill: #f99974}
  75% {fill: #bde8ea}
  95% {fill: #bde8ea}
}
#findIcon3 {
  fill: #bde8ea;
  animation: fill3 10s linear infinite;
  -webkit-filter: drop-shadow( 2px 2px #545454);
  filter: drop-shadow( 2px 2px #545454);
}
@keyframes fill3 {
  0% {fill: #bde8ea}
  20% {fill: #bde8ea}
  25% {fill: #fbe457}
  45% {fill: #fbe457}
  50% {fill: #aba7e1}
  70% {fill: #aba7e1}
  75% {fill: #f99974}
  95% {fill: #f99974}
}
#findIcon4 {
  fill: #f99974;
  animation: fill4 10s linear infinite;
  -webkit-filter: drop-shadow( 2px 2px #545454);
  filter: drop-shadow( 2px 2px #545454);
}
@keyframes fill4 {
  0% {fill: #f99974}
  20% {fill: #f99974}
  25% {fill: #bde8ea}
  45% {fill: #bde8ea}
  50% {fill: #fbe457}
  70% {fill: #fbe457}
  75% {fill: #aba7e1}
  95% {fill: #aba7e1}
}