/* 3d debugging, do not remove:*/
/* .parallaxGroup {
  left: 20px;
  transform: translate3d(500px, 0, -800px) rotateY(30deg);
} */
/* fonts, do not remove: */
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Spartan', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* parallax flow */
body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}
.parallax {
  /* perspective: 1px; */
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  overflow-y: auto;
  margin: 0px;
  font-size: 200%;
  -webkit-perspective: 300px;
  perspective: 300px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.parallax::-webkit-scrollbar {
  display: none;
}
.parallaxLayer {
  /* display: flex; test */
  /* justify-content: center; test */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallaxGroup {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* #group1 {
  z-index: 5;
  -webkit-transform: 0.5s;
  transform: 0.5s;
} */
#group2 {
  z-index: 3;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group3 {
  z-index: 4;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group4 {
  z-index: 2;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group5 {
  z-index: 3;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group6 {
  z-index: 2;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group7 {
  z-index: 3;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group1 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}
#group1 {
  z-index: 4;
  -webkit-transform: 0.5s;
  transform: 0.5s;
}
#group1 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group2 #base {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
  /* top: 50%; */
}
#group2 #backIMG {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(./assets/Jesse-Whitney-Retter-Photography-31.jpg);
  background-size: cover;
  background-position: center;
  /* top: -24%; */
}
#group3 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group3 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}
#group4 #base {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group4 #backIMG {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(./assets/Jesse-Whitney-Retter-Photography-40.jpg);
  background-size: cover;
  background-position: center;
  /* top: 24%; */
}
#group4 #p5 {
  -webkit-transform: translateZ(100px) scale(.5);
  transform: translateZ(100px) scale(.5);
  z-index: 4;
}
#group5 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group5 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}
#group6 #base {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group6 #backIMG {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(./assets/Jesse-Whitney-Retter-Photography-39\ -\ Copy-jessedidbw.jpg);
  background-size: cover;
  background-position: center;
  /* top: 24%; */
}
#group7 #fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#group7 #base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-color: white;
}