.vh5 {
  margin-top: 5vh
}
.vh10 {
  margin-top: 10vh
}
.vh20 {
  margin-top: 20vh
}
.vh30 {
  margin-top: 30vh
}
.marginBreak5 {
  margin-left: -5vw;
}
.marginBreak10 {
  margin-left: -10vw;
}
.marginBreak15 {
  margin-left: -15vw;
}
.marginBreak20 {
  margin-left: -20vw;
}
.marginBreak25 {
  margin-left: -25vw;
}
.marginBreak30 {
  margin-left: -30vw;
}